<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyongqiang.work.dao.mapper.PayMapper">



    <select id="selectTicketIdList"  resultType="string">
        select ticket_id from pay where
            1 = 1
            and ispay = 1
            and user_id = #{id}
    </select>

    <select id="selectPayListByLimit"  resultType="com.heyongqiang.work.dao.pojo.Pay">
        select * from pay
        <where>
            and user_id = #{id}
        </where>
        limit #{pageNum},#{pageSize}
    </select>

</mapper>