<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyongqiang.work.dao.mapper.TicketMapper">



    <select id="findTicketListNormal"  resultType="com.heyongqiang.work.dao.pojo.Ticket">
        select * from ticket
            <where>
                id in
                <foreach collection="ticketList" item="ticketId" separator="," open="(" close=")">
                    #{ticketId}
                </foreach>
                and sell = 1
            </where>
        limit #{pageNum},#{pageSize} ;
    </select>

    <select id="findTicketListReturn"  resultType="com.heyongqiang.work.dao.pojo.Ticket">
        select * from ticket
            <where>
                id in
                <foreach collection="ticketList" item="ticketId" separator="," open="(" close=")">
                    #{ticketId}
                </foreach>
                and sell = 0
            </where>
        limit #{pageNum},#{pageSize};
    </select>



</mapper>